
/*****************************BUTTON STYLING***********************/

.quote{
	&-button{
	height:45px;
	width:235px;
	border-radius:2px;
	color:$yellow-theme;
	background:$blue-theme;
	border:none;
	margin-top:50px;
}
	@media screen and (max-width: 892px){
	margin-top:10px;
	height:40px;
	width:210px;
}
	@media screen and (max-width: 637px){
	margin-top:10px;
	height:30px;
	width:170px;
}
	@media screen and (max-width: 400px){
	width:187px;
	height:38px;
	display:block;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
}

&-button:hover{
	color:$blue-theme;
	background:$yellow-theme;
	height:50px;
	width:299px;
}
	@media screen and (max-width: 892px){
	height:50px;
	width:225px;
}
	@media screen and (max-width: 637px){
	height:40px;
	width:190px;
}
	@media screen and (max-width: 400px){
	height:40px;
	width:200px;
}
	
}

.send{
	&-button{
	margin-top: 21px;
	width:100px;
	height: 28px;
	text-align: center;
	border-radius:2px;
	background-color:$yellow-theme;
	color:$main-text;
	font-family:$main-header-font;
	}
	&-button:hover{
	background-color:$main-text;
	color:$yellow-theme;
	}
	&-button-div{
	text-align: center;
	position: relative;
	bottom:10px;
	}
}


/**********************FORM STYLING*********************/
.contact-form-div{
	width:400px;
	position:relative;
	top:20px;
	
	@media screen and (max-width: 959px){
	
	top:160px;
	height:600px;
	}

}


.contact-form{
	display:block;
	position:relative;
	margin:0 auto;
	width:270px;
	left:100px;
	@media screen and (max-width: 955px){
	position:relative;
	left:10px;
	}
	@media screen and (max-width: 863px){
	right:5px;
	}
	@media screen and (max-width: 753px){
	right:30px;
	margin:0;
	bottom:40px;
	}
	@media screen and (max-width: 545px){
	right:90px;
	
	}
	@media screen and (max-width: 589px){
	left:29px;
	
	
	}
	@media screen and (max-width: 470px){
	left:30px;
	
	}

}
.name-lable,
.email-lable,
.message-lable{
	font-size:18px;
	margin:20px 10px 10px 0px ;
	font-family:$main-header-font;
@media screen and (max-width: 753px){
	font-size:14px;
	}	
}

.message-lable{
	position:relative;
	bottom:75px;
}

.name-input,
.email-input{
	width:230px;
	height:30px;
	margin:10px 10px 10px 0px ;
	border-color:$yellow-theme;
	@media screen and (max-width: 753px){
	height:20px;
	width:180px;
	}	
}

.message-input{
	width:230px;
	height:190px;
	position:relative;
	top:10px;
	border-color:$yellow-theme;
	@media screen and (max-width: 753px){
	
	width:180px;
	}
}

table{
	position:relative;
	bottom:10px;
}
