
/*****************************BUTTON STYLING***********************/

.quote-button{
	height:46px;
	width:294px;
	border-radius:2px;
	font-size:21px;
	color:$yellow-theme;
	background:$blue-theme;
	border:none;
	margin-top:50px;
}




/**********************FORM STYLING*********************/

