/*main image*/

.speach-bubble-image{
	background-image:url(/images/speach-bubble.png);
	background-repeat:no-repeat;
	height:400px;
	width:530px;
	position:relative;
	left:460px;
	bottom:170px;
	opacity:0.8;
}
