
.page-headers{
	text-align:center;
	padding-top:40px;
	color:$links-text;
	
}

.call-now{
	font-size:50px;
	color:$main-text;

}




.fix-it{
	font-size:25.5px;
	color:$main-text;

}


.phone-number{
	font-size:50px;
	color:$links-text;
}

 .services-info p{
	margin-left:60px;
	margin-right:60px;
	margin-top:30px;
}

.services-info2 p{
	margin-top:30px;
	margin-left:160px;
	margin-right:160px;
}

.services-info h4{
	margin-top:30px;
	color:$links-text;
}

.read-more{
	color:$yellow-theme;
}

.list-header{
	color:$links-text;
	margin-left:-15px;
}

.contact-para{
	font-size:15px;
	margin-bottom:28px;
	margin-top:28px;
}

.areas-list li{
	font-size:17px;
}
