/*descriptive color variables*/ 

$black		:#000000;
$white		:#ffffff;
$yellow		:#fedd33;
$blue		:#4c6fa6;





/*function color variables*/

$main-text		:$black;
$links-text		:$white;
$yellow-theme 	:$yellow;		
$blue-theme		:$blue;



/*font stacks variables*/

$main-header-font	:'Candal', sans-serif;
$links-font	 		:'PT Sans Narrow', sans-serif;		
$header-font		:'Roboto Slab', serif;


