{% extends 'main.twig' %}

{% block content %}
  <div class="div-main-image">
      <div class="call-to-action">
          <p class="call-now">CALL NOW</p>
          <p class="fix-it">WE CAN FIX ANY JOB</p>
         <p class="phone-number">07983 576088</p>

         <a href="{{ urlFor('contact') }}"><button class="quote-button">GET A FREE QUOTE!</button></a>
      </div>   
  </div>

  {% endblock content %}
