

{% extends 'main.twig' %}

{% block content %}
<section class="services-main-section">

  <div class="services-background">










    <div class="container services-div">
                    <h2 class="page-headers">OUR SERVICES</h2>
  

<!--************Services divs / jquery***************-->

<div class="div-appear-box carpentry-div">
      

    <img src="images/carpenter.png" />

    <p> <span>... </span> lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo </p>
    <p class="close-div"> ^ </p>

</div>


<div class="div-appear-box plumbing-div">
      

    <img src="images/plumbing.png" />

     <p> <span>... </span> lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo </p>
      <p class="close-div"> ^ </p>

</div>


<div class="div-appear-box electrical-div">
      

    <img src="images/electrical.png" />

     <p> <span>... </span> lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo </p>
    <p class="close-div"> ^ </p>

</div>

<div class="div-appear-box painting-div">
      

    <img src="images/painting.png" />

     <p> <span>... </span> lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo </p>
    <p class="close-div"> ^ </p>

</div>

<div class="div-appear-box maintenance-div">
      

    <img src="images/maintenance.png" />

     <p> <span>... </span> lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo </p>
      <p class="close-div"> ^ </p>

</div>




<!--************Services page code**************-->

        <div class="row services-row">

              <div class="col-md-4 services-info" >
                  <img class="carpentry-icon" src="images/carpenter.png"/>
                        <h4>Carpentry</h4>
                        <p id="services-para-row1">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...</p>
                        <p class="read-more-carpentry" id="read-more">Read More ></p>
              </div>

              <div class="col-md-4 services-info">
                  <img src="images/plumbing.png"/>
                        <h4>Plumbing</h4>
                        <p id="services-para-row1">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...</p>
                        <p class="read-more-plumbing" id="read-more">Read More ></p>
              </div>

              <div class="col-md-4 services-info">
                  <img src="images/electrical.png"/>
                        <h4>Electrical</h4>
                        <p id="services-para-row1">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...</p>
                        <p class="read-more-electrical" id="read-more"> Read More > </p>
              </div>

        </div>

        <div class="row services-row2">

              <div class="col-md-6 services-info2 services-info-box-1">
                  <img class="painting-icon" src="images/painting.png"/>
                     <h4>Painting</h4>
                     <p id="services-para-row2">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...</p>
                     <p class="read-more-painting" id="read-more">Read More ></p>
              </div>

              <div class="col-md-6 services-info2 services-info-box-2">
                  <img src="images/maintenance.png"/>
                   <h4>Maintenance</h4>
                   <p id="services-para-row2">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...</p>
                   <p class="read-more-maintenance" id="read-more">Read More ></p>
              </div>

        </div>

    </div>



  </div>

  

</section>
{% endblock content %}

