

/*container*/


/*CALL TO ACTION CONTAINER*/
.call-to-action{
	width:400px;
	display:block;
	position:relative;
	top:155px;
	margin-left:100px;
	
	
	@media screen and (max-width: 892px){
			width:300px;
			top:70px;
			margin-left:70px;
			}



	@media screen and (max-width: 400px){
			width:220px;
			top:20px;
			margin-left:5px;
			}


}


/*SERVICES PAGE BACKGROUND CONTAINER*/
.services{
	&-background{
	
	height:100%;
	background-color:$blue-theme;
}

	&-div{
	display: block;
	text-align: center;
}

	&-info{
	margin-top:80px;
	
}


	&-info2{
	margin-top:80px;
	width:550px;
	margin-bottom:50px;
	}
}

p#services-para-row2{

	margin-left:auto;
	margin-right:auto;
	width:170px;
	display:block;

}

.services-info-box-2{ 
	@media screen and (max-width: 1199px){
	width:445px;
	}
	@media screen and (max-width: 991px){
	width:100%;
	}
	
}

.services-info-box-1{
	@media screen and (max-width: 1199px){
	width:445px;
	}
	@media screen and (max-width: 991px){
	width:100%;
	}
	
}
#services-para-row1{
	@media screen and (max-width: 1199px){
	width:170px;
	}
	@media screen and (max-width: 991px){
	margin-right:auto;
	margin-left:auto;

	}

}

#services-para-row2{
	@media screen and (max-width: 1199px){
	width:170px;
	position:relative;
	left:0px;
	}
	@media screen and (max-width: 991px){
	margin-right:auto;
	margin-left:auto;
	position:relative;
	right:50%;
	}

}

.services-row2{
	
	margin-left:auto;
	margin-right:auto;
}
 
.div-appear-box{
	width:450px;
	height:330px;
	border: 1.5px solid;
	text-align:center;
	padding:20px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	display:none;
	
	background-color:$main-text;


	margin-top:40px;
	z-index:2;
	
	@media screen and (max-width: 528px){
			width:320px;
			height:380px;
			}


	p{
		margin-top:15px;
		color:$links-text;

	}
	p span{
		color:$yellow-theme;
	}
}

.close-div{
	color:$yellow-theme;
}



/*CONTACT PAGE  CONTAINER CONTAINERS */


.contact-div{
	width:340px;
	margin-left:70px;
}
.contact-form-div{
	width:320px;
}



.about-div{
	display:block;
	position:relative;
	top:50px;
	width:60%;
	height:500px;
	margin:0 auto;
}
