
/*Full page wrapper*/





/*container*/
.div-main-image{
	width:100%;
	height:620px;
	background-image:url(/images/man-toolbelt.jpg);
}


.call-to-action{
	width:400px;
	display:block;
	position:relative;
	top:155px;
	margin-left:100px;
}

.services-background{
	width:100%;
	height:620px;
	background-color:$blue-theme;
}

.services-div{
	display: block;
	text-align: center;
}

.services-info{
	margin-top:80px;
	
}


.services-info2{
	margin-top:80px;
	width:570px;
}

.services-row2{
	width:1300px;
	margin-left:auto;
	margin-right:auto;
}

.div-contact-image{
	width:100%;
	height:620px;
	background-image:url(/images/yellow-phone.jpg);
	margin-top:0;

}

.contact-div{
	width:400px;
	margin-left:70px;
}

