/*Footer styling*/

#footer{
background-color:$links-text;
width:100%;
height:100px;

}

.social-media li{
	display: inline-block;
	margin-left:0px;
	margin-right:27px;

}

.social-media{
	width:100%;
	text-align: right;
	padding-top:22px;
  @media screen and (max-width: 579px){
      text-align:center;
  }
}

.linkedin-logo{
	margin-right: 40px;
}



/*sticky footer*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.main-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.main-wrapper:after {
  content: "";
  display: block;
}
#footer, .main-wrapper:after {
  height: 100px; 
}
